<mat-card class="recipe-card">
  <mat-card-header>
    <div mat-card-avatar>@if (recipe().isFavorite) {❤️}</div>
    <mat-card-title>{{ recipe().name }}</mat-card-title>
    <mat-card-subtitle>{{ recipe().description }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="recipe().imgUrl" [alt]="recipe().name" />
  <mat-card-actions>
    <button matButton (click)="decreaseServings()">Remove Servings</button>
    <button matButton (click)="increaseServings()">Add Servings</button>
  </mat-card-actions>
  <mat-card-content>
    <p>Servings: {{ servings() }}</p>
    <ul>
      @for (ingredient of adjustedIngredients(); track ingredient.name) {
        <li>{{ ingredient.name }}: {{ ingredient.quantity }} {{ ingredient.unit}}</li>
      }
    </ul>
  </mat-card-content>
</mat-card>